{% extends 'base.html.twig' %}

{% block title %}{{ 'all_user.all_users'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'all_user.all_users'|trans }}</h1>
    <table class="table">
        <thead>
        <tr>

            <td><b>{{ 'all_user.name'|trans }}</b></td>
            <td><b>{{ 'all_user.first_name'|trans }}</b></td>
            <td><b>Email</b></td>
            <td><b>Role</b></td>
        </tr>

        </thead>
        <tbody>
            {% if users is empty %}
                <tr>
                    <td colspan="4">
                        {{ 'all_user.no_user'|trans }}
                    </td>
                </tr>
            {% else %}
                {% for user in users %}
                    <tr>
                        <td>{{ user.nom}}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                                {% if role == 'ROLE_SUPER_ADMIN'%}
                                    <b>{{ role }},</b>
                                {% else %}
                                    {{ role }},
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}
