{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <style>
        h1 {text-align: center}
    </style>
    <div class="pageFormRegisterAndLogin">

        <h1>S'inscrire</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom, {
            label: 'Nom'
        }) }}
        {{ form_row(registrationForm.prenom, {
            label: 'Prénom'
        }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}

        <button type="submit" class="btn btn-primary">Créer un compte</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
