{% extends 'base.html.twig' %}

{% block title %}{{ 'register.register_title'|trans }}{% endblock %}

{% block body %}
    <style>
        h1 {text-align: center}
    </style>
    <div class="pageFormRegisterAndLogin">

        <h1>{{ 'register.sign_in'|trans }}</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom, {
            label: 'Nom'
        }) }}
        {{ form_row(registrationForm.prenom, {
            label: 'Prénom'
        }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}

        <div style="display: flex; justify-content: space-between">
            <button type="submit" class="btn btn-primary">{{ 'register.create_account'|trans }}</button>
            {{ form_end(registrationForm) }}
            <a href="{{ path('app_login') }}" class="btn btn-secondary">{{ 'register.have_account'|trans }}</a>
        </div>


    </div>
{% endblock %}
