{% extends 'base.html.twig' %}

{% block title %}Products index
{% endblock %}

{% block body %}
	<h1>Products index</h1>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Prix</th>
				<th>Stock</th>
				<th>Photo</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr onclick ="location.href='{{ path('app_products_show', {'id': product.id}) }}'">
					<td>{{ product.name }}</td>
					<td>{{ product.description }}</td>
					<td>{{ product.prix }}</td>
					<td>{{ product.stock }}</td>
					<td>
						{% if product.photo is not null %}
							<img src="{{asset('/uploads/'~product.photo)}}" alt="{{product.name}}" style="max-width: 70px">
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_products_new') }}" class = "btn btn-outline-primary">Create new</a>
{% endblock %}
