{% extends 'base.html.twig' %}

{% block title %}{{'home'|trans}}{% endblock %}

{% block body %}
	<h1>{{'produits.liste'|trans}}</h1>

	<table style="cursor: pointer" class="table table-hover">
		<thead>
			<tr>
				<th>{{'produits.nom'|trans}}</th>
				<th>Description</th>
				<th>{{'produits.prix'|trans}}</th>
				<th>{{'produits.stock'|trans}}</th>
				<th>{{'produits.photo'|trans}}</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr onclick ="location.href='{{ path('app_products_show', {'id': product.id}) }}'">
					<td>{{ product.name }}</td>
					<td>{{ product.description }}</td>
					<td>{{ product.prix }}€</td>
					<td>{{ product.stock }}</td>
					<td>
						{% if product.photo is not null %}
							<img src="{{asset('/uploads/'~product.photo)}}" alt="{{product.name}}" style="max-width: 70px">
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">{{'produits.no_product'|trans}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app_products_new') }}" class = "btn btn-outline-primary">{{'produits.btn_create'|trans}}</a>
	{% endif %}
{% endblock %}
