{% extends 'base.html.twig' %}

{% block title %}Paniers{% endblock %}

{% block body %}
{#
    {{ dump(baskets[0].basketContents) }}
#}
<h1>Tous les paniers</h1>
{#{{ dump(baskets) }}#}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>State</th>
            <th>Utilisateur</th>
            <th>Produit</th>
        </tr>
        </thead>
        <tbody>
            {% for b in baskets %}
                {# Si panier est brouillon il est afficher #}
                {% if b.state == null %}
                    <tr>
                        <td>{{ b.id }}</td>
                        <td>
                            {% if b.state == null %}
                                Brouillon
                            {% else %}
                                Confirmée
                            {% endif %}
                        </td>
                        <td>{{ b.owner }}</td>
                        <td>
                            {% for bc in b.basketContents %}
                                <div>
                                    {#{{ dump(bc) }}#}
                                    <b>{{ bc.quantity}} {{ bc.products }}{{ bc.quantity > 1 ? 's' : ''}}</b><br/>
                                    - Prix : {{ bc.products.prix }}€<br/>
                                    - Prix total : {{ bc.products.prix * bc.quantity }}€<br/>
                                </div>
                            {% else %}
                                Panier vide
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}