{% extends 'base.html.twig' %}

{% block title %}{{ 'all_baskets.all_baskets'|trans }}{% endblock %}

{% block body %}
{#
    {{ dump(baskets[0].basketContents) }}
#}
<h1>{{ 'all_baskets.all_baskets'|trans }}</h1>
{#{{ dump(baskets) }}#}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>{{ 'all_baskets.state'|trans }}</th>
            <th>{{ 'all_baskets.user'|trans }}</th>
            <th>{{ 'all_baskets.product'|trans }}</th>
            <th>{{ 'all_baskets.sum_amount'|trans }}</th>
        </tr>
        </thead>
        <tbody>
            {% set sumAmountBasket = 0%}
            {% for b in baskets %}
                {# Si panier est brouillon il est affiché #}
                {% if b.state == null %}
                    <tr>
                        <td>{{ b.id }}</td>
                        <td>
                            {% if b.state == null %}
                                {{ 'all_baskets.draft'|trans }}
                            {% else %}
                                {{ 'all_baskets.valid'|trans }}
                            {% endif %}
                        </td>
                        <td>{{ b.owner }}</td>
                        <td>
                            {% for bc in b.basketContents %}
                                <div>
                                    {#{{ dump(bc) }}#}
                                    <b>{{ bc.quantity}} {{ bc.products }}{{ bc.quantity > 1 ? 's' : ''}}</b><br/>
                                    - {{ 'all_baskets.price unity'|trans }} : {{ bc.products.prix }}€<br/>
                                    {% set sumOfthisProduct = bc.products.prix * bc.quantity %}
                                    - {{ 'all_baskets.total_price'|trans }} : {{ sumOfthisProduct }}€<br/>
                                    - {{ 'all_baskets.total_price'|trans }} : {{ sumOfthisProduct }}€<br/>
                                    {% set sumAmountBasket = sumAmountBasket + sumOfthisProduct %}
                                </div>
                            {% else %}
                                {{ 'all_baskets.empty_basket'|trans }}
                            {% endfor %}
                        </td>
                        <td>{{ sumAmountBasket }}€</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
