{% extends 'base.html.twig' %}

{% block title %}{{'compte.mon_compte'|trans}}
{% endblock %}

{% block body %}
	<h1>{{'compte.mon_compte'|trans}}</h1>
	{{ include('user/_form.html.twig', {'button_label': 'bouton.update'|trans}) }}

	<table style="cursor: pointer" class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>{{'commande.amount'|trans}}</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>


			<h2>{{'commande.historique'|trans}}</h2>
			{% for basket in baskets %}

				<tr onclick="location.href='{{path('app_basket_show', {'id': basket.id}) }}'">
					<td>{{basket.id  }}</td>
					<td>

						{% set sumAmountBasket = 0%}
						{% for bc in basket.basketContents %}
							{% set sumOfthisProduct = bc.products.prix * bc.quantity %}
							{% set sumAmountBasket = sumAmountBasket + sumOfthisProduct %}
						{% endfor %}
						{{ sumAmountBasket}}€
					</td>
					<td>{{basket.buyDate ? basket.buyDate|date('date.trad'|trans)}}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">{{'commande.no_order'|trans}}</td>
				</tr>

			{% endfor %}
		</tbody>
	</tbody>
</table>{% endblock %}
